@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Scrolling function */
/*html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}*/
/* Styles for background */
body{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url(https://th.bing.com/th/id/OIP.YRbnvsV4zu-8RejDYPrlKwHaDt?w=310&h=174&c=7&r=0&o=5&dpr=1.25&pid=1.7);
  background-size: cover;
  background-attachment: fixed;
  -webkit-backdrop-filter: saturate(3);
  backdrop-filter: saturate(3);
  font-family: "Poppins", sans-serif;
}

.text{
  color: rgb(0, 0, 0);
}

/* Custom Scrollbar  */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Custom Scrollbar END */





@media screen and (max-width: 480px) {
  body {
    padding: 0.8em;
  }
}

main {
  background-color: rgb(255 255 255 / 31%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1250px;
  width: 138%;
  border-radius: 5px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-weight: 500;
  padding: 1rem 1rem 2rem 1rem;
  overflow: auto;
}

main::-webkit-scrollbar {
  display: none;
}

/* Hero section styles */
.heroSection {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.profileImage {
  width: 350px;
  height: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin-top: 150px;

}

.herosectionDetails {
  text-align: center;
}

.herosectionDetails > h1 {
  font-size: 50px;
  margin: 10px;
}

/* Hero section styles end */

/* about me styles */
.aboutMe {
  margin: 1rem;
  text-align: center;
}
/* about me styles end */

.skillsAndProjects {
  margin: 1rem;
  display: grid;
  grid-template-columns: [one] 50% [two] 50%;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2rem);
}

@media only screen and (max-width: 720px) {
  .skillsAndProjects {
    grid-template-columns: [one] 100%;
    grid-template-rows: [one] [two];
  }
}

.skillsAndProjects > .skills,
.skillsAndProjects > .projects {
  min-width: 250px;
  margin: 1rem;
  min-height: 250px;
}

.skillsAndProjects > .skills,
.skillsAndProjects > .projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: rgb(255 255 255 / 31%);
  border: 1px solid rgb(255 255 255 / 31%);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.cardHeading {
  display: block;
  width: 90%;
  /* text-align: center; */
  margin: 0;
  margin-bottom: 1rem;
}

.skillsAndProjects > .skills > img {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.skillsAndProjects > .skills > img:hover {
  transition: ease-in 300ms;
  transform: scale(0.85);
  cursor: pointer;
}

.projectContainer {
  display: flex;
  width: 90%;
}

.projectContainer > img {
  width: 60px;
  height: 60px;
  padding-right: 10px;
}

.projectContainer > .projectDescription > h4 {
  margin: 0;
}

.projectContainer > .projectDescription > p {
  margin: 0;
  margin-bottom: 1rem;
}

.contactForm {
  margin: 2rem;
  width: calc(100% - 4rem);
  background-color: rgb(255 255 255 / 31%);
  border: 1px solid rgb(255 255 255 / 31%);
  border-radius: 5px;
  padding: 1rem;
}

.contactForm > .formGroup {
  margin-bottom: 1rem;
}

.formGroup > input,
.formGroup > textarea {
  width: 100%;
  padding: 5px 10px;
  margin-top: 5px;
  font-weight: 600;
}

.submitButton {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  background: rgb(1, 162, 255);
box-shadow: 2px 2px 1px  rgb(167, 202, 255) ,
            2px 2px 1px inset rgb(255, 255, 255);
}
.submitButton:hover{
background: rgb(68, 112, 255);

}
@media only screen and (max-width: 460px) {
  .profileImage {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }

  .herosectionDetails > h1 {
    font-size: 30px;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  }

  .herosectionDetails > h3 {
    font-size: 20px;
    margin: 0;
    font-weight: 400;
  }
}