@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --background-clr: #0a0618;
  --text-clr: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: #0a0618;
  color: cyan;
  font-family:sans-serif;
  margin: 0;
  height: 100vh;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
a {
  text-decoration: none;
  color: var(--text-clr);
}

header {
  background: var(--background-clr);
  font-family: "Poppins", sans-serif;
  z-index: 999;
  text-align: center;
  width: 100%;
  border-radius: 30px;
  border-bottom: 1px solid rgb(112, 255, 255);
  position: fixed;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background-clr);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity ease-in-out;
}
nav a:hover {
  background: #02202e;
  color: rgb(255, 0, 128);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 4fr) 1fr;
  }

  .buslogo {
    width: 23%;
    height: 82%;
    margin-top: 6px;
    border-radius: 25%;
    padding: 3px;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    /*     border: 1px solid red; */
  }

  nav li {
    margin-left: 2.5em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
    border-radius: 6px;
    background-color: #1b465a98;
    padding: 6px;
    border-bottom: 1px solid aqua;
  }

  nav a::before {
    content: "";
    display: block;
    height: 3px;
    background: #54f9ffd4;
    position: absolute;
    top: 1.62em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    /* transform-origin: left; */
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::before {
    transform: scale(1, 1);
  }
}
.text {
  margin-top: 5px;
  padding: 72px;
  text-align: center;
}

h2{
  margin-top: 220px;
}

.txt {
  padding: 10px;
  border-bottom: 2px solid #00ffba;
  background: #0024459e;
  border-radius: 30px;
}

.txt:hover{
  background:black;
}

.container {
    display: block;
    padding: 31px;
    border-radius: 15px;
    border-bottom: 1px solid grey;
    margin: -50px 50px;
    background: #09163d;
    color: rgb(85, 255, 255);
    align-items:justify;
}
.plcname {
  padding: 3px;
  color: yellow;
  background: #06102c;
  font-weight: bold;
  margin: 3px;
}
.btn {
  margin-top: 25px;
  padding: 10px;
  border-radius: 18px;
  border: 2px solid red;
  font-weight: bold;
  font-size: large;
  background: #09163d;
  color: yellow;
  width: 55%;
}

.btn:hover {
  background: #01091f;
  color: yellow;
}

.result{
  display: block;
  padding: 31px;
  border-radius: 15px;
  border-bottom: 2px solid grey;
  margin: -50px 50px;
  background: #09163d;
  color: rgb(85, 255, 255);

}

.res {
  background-color: #06102c;
  padding-left: 8px;
  width: 100%;
  border-bottom: 1px solid aqua;
  border-right: 1px solid aqua;
  height: 56px;
  border-radius: 2px;
  font-family: none;
  font-weight: bold;
  text-align: justify;
  letter-spacing: 1px;
}

.res:hover {
  background-color: #000000;
  box-sizing: border-box;
}

.rest{
  background-color: #050221fc;
  padding-left: 8px;
  width: 100%;
  border-bottom: 1px solid aqua;
  border-right: 1px solid aqua;
  height: 56px;
  border-radius: 2px;
  font-family: none;
  font-weight: bold;
  text-align: justify;
  letter-spacing: 1px;
  box-shadow: 0 0 20px #00ffd0;
  display: inline-block;

}

.SD{
  font-size: small;
  margin-top:6px;
  color: rgb(207, 211, 194);
}

.bustime{
  font-size: large;
  padding-top:4px;
  color: rgb(255, 255, 255);
  
}