<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>St</title>
    <link rel="stylesheet" href="/static/home.css" />
  </head>
  <body>
    <header>
      <a href="#" class="logo">
        <img class="buslogo" src="/static/B.png" />
      </a>
      <input type="checkbox" id="nav-toggle" class="nav-toggle" />
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>
            <a href="{% url 'about' %}">About Me</a>
          </li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li><a href="{% url 'feedback' %}">Feedback</a></li>
        </ul>
      </nav>
      <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
      </label>
    </header>
{% block body %}

{% endblock %}
  </body>
</html>