{% extends 'base.html' %} 

{% block body %}

<div class="text">
    <h2 class="txt1"><a class="txt" href="/search">Find your bus ?</a></h2>
    </div>
    <div class="container">
        <div>
          <form method="POST">
            {% csrf_token %}
            <!--name for label should be equal to name for select-->
            <lable  name="place"  for="place">From</lable>
            <select class="plcname" name="place" >
              <option value="0" selected disabled></option>
              <option value="Kore">Kore</option>
              <option value="Khardi">Khardi</option>
              <option value="Dativare">Dativare</option>
              <option value="Saphale">Saphale</option>
              <option value="Palghar">Palghar</option>
            </select>
          </div>
    <div>
        <lable  name="dstn" for="destination">To</lable>
        <select class="plcname" name="dstn">  <!--name for label should be equal to name for select-->
          <option value='0' selected disabled></option>
          <option value="Saphale">Saphale</option>
          <option value="Khardi">Khardi</option>
          <option value="Dativare">Dativare</option>
          <option value="Kore">Kore</option>
          <option value="Palghar">Palghar</option>
      
        </select>
    </div>
    <button class="btn" type="submit">Search</button>
    </div>
    <div class="result">
      {% if flag == 0  %}
      <h3>SELECT PROPER CHOICE !!</h3>
      <div class='res'>
      <div class="bustime">Buses are NOT Available</div>
      </div>
      {% endif %}
      {% if flag == 1  %}
      {% if Av_outlist|first == "" %}
      <h3>Currently not Available !!</h3>
      {% endif %}
      {% for item in out_list %}
      {% if item == Av_outlist|first %}
      <div class="rest">
      <div class="bustime">{{item}} {{ to}}</div>
      <div class="SD">{{from}} - {{to}}</div>
      </div>
      {% else %}
      <div class="res">
      <div class="bustime">{{item}} {{ to}}</div>
      <div class="SD">{{from}} - {{to}}</div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </body>

{% endblock %}


